/** Semantic Elements **/
html, body {
  border:0;
  margin:0;
  padding:0;

  font-size:100%;
  font-family: 'Lato', sans-serif;
  font-weight:100;
}

body {
  width: 480px;
}

h1, h2, h3 {
  font-weight:100;
  margin:0;
}

ul {
  padding:0px;
}

ul li {
  list-style: none;
}

textarea {
  resize:none;
}

textarea:focus {
  outline:none;
  outline-width:0;
}

input[type="submit"]:focus {
  outline:none;
}

/** Support **/
.clearing-div {
  clear:both;
  width:100%;
}

.error {
  color:red;
  display:none;
}

.form-input-group {
  margin-bottom:15px;
}

.hidden,
.hidden-option {
  display:none;
}

/** Shared Styles **/
.button {
  background:#ededed;
  cursor: pointer;
  float:left;
  margin-top:20px;
  padding:5px 8px;
  text-align: center;
}

/** Navbar **/
#navbar {
  border-bottom:1px solid #b0b0b0;
  clear:both;
  height:40px;
  margin-bottom:10px;
}

#logo {
  float:left;
}

.nav-group {
  -webkit-padding-start:0px;
  float:right;
  margin:9px 0px 0px;
}

.nav-button {
  cursor:pointer;
  float:left;
}

.nav-button.active {
  font-weight:500;
}

.contents-page-button {
    padding: 5px;
    background: white;

    transition: background 250ms;
}

.contents-page-button:hover {
  background:rgba(131, 91, 91, 0.05);
}

/* Specific Nav Buttons */

/** Pages **/
.pages-wrapper {
  position:relative;
}

.page {
  background:white;
  display:none;
  padding-bottom:20px;
  position:absolute;
  width:100%;
}

.page.active {
  display:block;
}

/** PAGE: Contents **/
.contents-item {
  background-image:url('assets/arrow.png');
  background-repeat: no-repeat;
  background-position: 99% 50%;
  cursor:pointer;
  font-size:18px;
  padding:10px 0px;

  background-color:white;
  transition: background-color 250ms;
}

.contents-item:hover {
   background-color:rgba(131, 91, 91, 0.05);
}

/** Form Styles **/
input[type="submit"] {
  border:none;
  background:none;
}

/** Page Section Elements **/
#wrapper {
  background-color:white;
  padding:10px 20px;
  position:relative;
}

.slide {
  display:none;
}

.slide.active {
  display:block;
}

.inner-slide {
  display:none;
}
.inner-slide.active {
  display:block;
}

.page-header {
  color: #b0b0b0;
}

/** Save Form **/
#save-delete-form {
  float:right;
}

input.delete-site-submit,
input.save-site-submit {
  background-color:#777;
  color:white;
  cursor:pointer;
  font-family: Helvetica, sans-serif;
  font-size:16px;
  font-weight:100;
  margin:0;
  padding: 4px 20px;
  text-transform: uppercase;
}

.save-site-input {
  border: none;
  font-size:16px;
  height: 16px;
  padding: 5px 8px;
}

/** Stats **/
#times-header {
  margin-bottom:50px;
}

#header-list {
  float:left;
}

.header-icon {
  cursor: pointer;
  float:left;
  margin-right:5px;
  padding:5px 8px;
  text-align: center;
  width:45px;
}

.header-icon.active {
  background:#ededed;
}

.status-list {
  margin-top:15px;
}

.status-item {
  clear:both;
  height:30px;
}

.status-site {
  float:left;
}

.status-time {
  float:right;
}

/** User Settings **/
.page-form {
  padding-top:20px;
}

input[name="user-email"] {
  width:50%;
}

.submit-user-info.submitting {
  opacity:0.5;
}

.submitted-notice {
  color:#fb6a13;
  display:none;
  float: left;
  margin-top: 7px;
  margin-left: 20px;
}

.form-time-options-group {
  margin-top:10px;
}

.user-settings .button {
  margin-top:0px;
}

/** Better Spent Page **/
.tutorial {
  margin-top:5px;
  padding-top:20px;
}

.better-spent-main-group {
  clear:both;
  display:none;
  overflow:hidden;
  padding-top:20px;
  position: relative;
}

.better-spent-form {
  background:white;
  border:1px solid #b0b0b0;
  left:100%;
  padding:20px;
  position:absolute;
  top:20px;
  width:100%;
}

.better-spent-text {
  height: 60px;
  width: 92%;
}

.abort-better-spent-add {
  margin-left:10px;
}

.better-spent-error {
  background:rgba(255,255,255,0.8);
  color:red;
  display:none;
  height:100%;
  padding-top:24%;
  position:absolute;
  text-align: center;
  width:100%;
}

/* Better Spent List */
.better-spent-list-item-empty,
.better-spent-list-item {
  border-bottom:1px solid #ececec;
  padding:10px 0px;

  transition: margin-left 500ms;
}

.better-spent-list-item.deleting {
  margin-left:-440px;
}

.better-spent-list-item-delete {
  float:right;
  margin-right:-65px;

  transition: margin-right 500ms;
}

.better-spent-list-item:hover .better-spent-list-item-delete {
  margin-right:0px;
}

.better-spent-list-item.deleting:hover .better-spent-list-item-delete {
  margin-right:-65px;
}

.button.better-spent-list-item-delete {
  background:red;
  color:white;
  margin-top:0px;
}

.better-spent-list-item-time {
  color:#b0b0b0;
  font-weight:bold;
}

/** Statistics **/
.results-item {
  border-bottom: 1px solid #ececec;
  padding: 10px 0px;
}

.results-label {
  margin-bottom:5px;
}

.results-times {
  color: #b0b0b0;
  font-weight: bold;
}