/** Semantic Elements **/
html, body {
  border:0;
  margin:0;
  padding:0;

  font-size:100%;
  font-family: 'Lato', sans-serif;
  font-weight:100;
}

body {
  width: 480px;
}

h1, h2, h3 {
  font-weight:100;
  margin:0;
}

ul {
  padding:0px;
}

ul li {
  list-style: none;
}

/** Navbar **/
#navbar {
  border-bottom:1px solid #b0b0b0;
  clear:both;
  height:40px;
  margin-bottom:10px;
}

#logo {
  float:left;
}

.nav-group {
  -webkit-padding-start:0px;
  float:right;
  margin:9px 0px 0px;
}

.nav-button {
  cursor:pointer;
  float:left;
}

.nav-button.active {
  font-weight:500;
}

.contents-page-button {
    padding: 5px;
    background: white;

    transition: background 250ms;
}

.contents-page-button:hover {
  background:rgba(131, 91, 91, 0.05);
}

/* Specific Nav Buttons */

/** Pages **/
.pages-wrapper {
  position:relative;
}

.page {
  background:white;
  display:none;
  position:absolute;
  width:100%;
}

.page.active {
  display:block;
}

/** PAGE: Contents **/
.contents-item {
  background-image:url('assets/arrow.png');
  background-repeat: no-repeat;
  background-position: 99% 50%;
  cursor:pointer;
  font-size:18px;
  padding:10px 0px;

  background-color:white;
  transition: background-color 250ms;
}

.contents-item:hover {
   background-color:rgba(131, 91, 91, 0.05);
}

/** Form Styles **/
input[type="submit"] {
  border:none;
  background:none;
}

/** Page Section Elements **/
#wrapper {
  background-color:white;
  padding:10px 20px;
  position:relative;
}

.slide {
  display:none;
}

.slide.active {
  display:block;
}

.inner-slide {
  display:none;
}
.inner-slide.active {
  display:block;
}

.page-header {
  color: #b0b0b0;
}

/** Save Form **/
#save-delete-form {
  float:right;
}

input.delete-site-submit,
input.save-site-submit {
  background-color:#777;
  color:white;
  cursor:pointer;
  font-family: Helvetica, sans-serif;
  font-size:16px;
  font-weight:100;
  margin:0;
  padding: 4px 20px;
  text-transform: uppercase;
}

.save-site-input {
  border: none;
  font-size:16px;
  height: 16px;
  padding: 5px 8px;
}

/** Stats **/
#stats-header {
  margin-bottom:50px;
}

#header-list {
  float:left;
}

.header-icon {
  cursor: pointer;
  border-radius:5px;
  float:left;
  margin-right:5px;
  padding:5px 8px;
  text-align: center;
  width:45px;
}

.header-icon.active {
  background:#ededed;
}

.status-list {
  margin-top:15px;
}

.status-item {
  clear:both;
  height:30px;
}

.status-site {
  float:left;
}

.status-time {
  float:right;
}

/** User Settings **/
.error {
  color:red;
  display:none;
}


/** Better Spent Page **/
.tutorial {
  margin-top:5px;
}